library/verticals/marketing_agencies/images/Create_Image.json
{
  "name": "AI Image Creator",
  "nodes": [
    {
      "id": "00000000-0000-0000-0000-000000000001",
      "name": "Webhook Trigger",
      "type": "@n8n/n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 200],
      "parameters": {
        "httpMethod": "POST",
        "path": "create-image",
        "options": {}
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000002",
      "name": "Analyze Request",
      "type": "@n8n/n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_OPENAI_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4"
            },
            {
              "name": "messages",
              "value": [
                {
                  "role": "system",
                  "content": "Eres un experto en prompt engineering para generación de imágenes. Optimiza y mejora prompts para crear imágenes de alta calidad."
                },
                {
                  "role": "user",
                  "content": "Descripción original: {{ $json.body.description || 'una imagen profesional' }}. Optimiza este prompt para generar una imagen de alta calidad. Incluye estilo, composición, iluminación y detalles técnicos."
                }
              ]
            },
            {
              "name": "max_tokens",
              "value": 500
            }
          ]
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000003",
      "name": "Generate Primary Image",
      "type": "@n8n/n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_OPENAI_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "prompt",
              "value": "={{ $node['Analyze Request'].json.choices[0].message.content }}"
            },
            {
              "name": "n",
              "value": 1
            },
            {
              "name": "size",
              "value": "{{ $json.body.size || '1024x1024' }}"
            },
            {
              "name": "quality",
              "value": "high"
            },
            {
              "name": "output_format",
              "value": "png"
            }
          ]
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000004",
      "name": "Generate Variations",
      "type": "@n8n/n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.midjourney.com/v1/imagine",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_MIDJOURNEY_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $node['Analyze Request'].json.choices[0].message.content }} --ar {{ $json.body.aspect_ratio || '1:1' }} --v 6 --quality 2"
            },
            {
              "name": "variations",
              "value": 3
            }
          ]
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000005",
      "name": "Quality Enhancement",
      "type": "@n8n/n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.upscaler.ai/v1/upscale",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_UPSCALER_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $node['Generate Primary Image'].json.data[0].url }}"
            },
            {
              "name": "scale",
              "value": 2
            },
            {
              "name": "model",
              "value": "real-esrgan"
            }
          ]
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000006",
      "name": "Save to Storage",
      "type": "@n8n/n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 200],
      "parameters": {
        "method": "POST",
        "url": "{{ $vars.SUPABASE_URL }}/storage/v1/object/generated-images/{{ $now.toFormat('yyyy-MM-dd') }}/image_{{ $now.toMillis() }}.png",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "specifyBodyType": "raw",
        "rawBody": "={{ $node['Quality Enhancement'].json.enhanced_image }}"
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Analyze Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Request": {
      "main": [
        [
          {
            "node": "Generate Primary Image",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Variations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Primary Image": {
      "main": [
        [
          {
            "node": "Quality Enhancement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Enhancement": {
      "main": [
        [
          {
            "node": "Save to Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {},
  "tags": [
    {
      "id": "tag1",
      "name": "Image",
      "createdAt": "2024-01-01",
      "updatedAt": "2024-01-01"
    },
    {
      "id": "tag2",
      "name": "AI",
      "createdAt": "2024-01-01",
      "updatedAt": "2024-01-01"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "00000000-0000-0000-0000-000000000000"
}