library/verticals/marketing_agencies/images/Edit_Image.json
{
  "name": "AI Image Editor",
  "nodes": [
    {
      "id": "00000000-0000-0000-0000-000000000001",
      "name": "Upload Image",
      "type": "@n8n/n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 200],
      "parameters": {
        "httpMethod": "POST",
        "path": "edit-image",
        "options": {}
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000002",
      "name": "Analyze Edit Request",
      "type": "@n8n/n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_OPENAI_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4"
            },
            {
              "name": "messages",
              "value": [
                {
                  "role": "user",
                  "content": "Instrucciones de edición: {{ $json.body.edit_instructions }}. Convierte esto en prompts específicos para edición de imagen con IA."
                }
              ]
            }
          ]
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000003",
      "name": "Edit with AI",
      "type": "@n8n/n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.stability.ai/v1/generation/stable-diffusion-xl-1024-v1-0/image-to-image",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_STABILITY_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "init_image",
              "value": "={{ $json.body.image_data }}"
            },
            {
              "name": "text_prompts",
              "value": [
                {
                  "text": "={{ $node['Analyze Edit Request'].json.choices[0].message.content }}",
                  "weight": 1
                }
              ]
            },
            {
              "name": "cfg_scale",
              "value": 7
            },
            {
              "name": "steps",
              "value": 30
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Upload Image": {
      "main": [
        [
          {
            "node": "Analyze Edit Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Edit Request": {
      "main": [
        [
          {
            "node": "Edit with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}