library/verticals/marketing_agencies/extra_templates/seo/keyword-tracking-automation.json
{
  "meta": {
    "templateCreatedBy": "SEOPro",
    "templateDescription": "Automated keyword ranking tracking and SEO reporting",
    "templateId": "1009",
    "templateName": "Keyword Tracking Automation",
    "templateVersion": "1.0.0"
  },
  "nodes": [
    {
      "parameters": {
        "interval": 7,
        "unit": "days"
      },
      "id": "weekly-trigger",
      "name": "Weekly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "read",
        "documentId": "{{ $credentials.googleSheetsOAuth2Api.seoSpreadsheetId }}",
        "sheetName": "Keywords",
        "options": {}
      },
      "id": "load-keywords",
      "name": "Load Keywords",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [600, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://serpapi.com/search",
        "authentication": "queryAuth",
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "q",
              "value": "={{ $json.keyword }}"
            },
            {
              "name": "api_key",
              "value": "{{ $credentials.serpApi.apiKey }}"
            },
            {
              "name": "num",
              "value": "100"
            },
            {
              "name": "location",
              "value": "{{ $json.location || 'United States' }}"
            }
          ]
        }
      },
      "id": "serp-check",
      "name": "SERP Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const targetDomain = $input.first().json.domain;\nconst organicResults = $json.organic_results || [];\n\nlet position = null;\nfor (let i = 0; i < organicResults.length; i++) {\n  const result = organicResults[i];\n  if (result.link && result.link.includes(targetDomain)) {\n    position = result.position;\n    break;\n  }\n}\n\nreturn {\n  keyword: $input.first().json.keyword,\n  domain: targetDomain,\n  position: position,\n  date: new Date().toISOString().split('T')[0],\n  found: position !== null,\n  serp_results: organicResults.length\n};"
      },
      "id": "extract-position",
      "name": "Extract Position",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "append",
        "documentId": "={{ $node['Load Keywords'].json[0].spreadsheet_id }}",
        "sheetName": "Rankings",
        "fieldsToSend": "defineBelow",
        "fieldsToSendOptions": {
          "fields": [
            {
              "fieldName": "date",
              "fieldValue": "={{ $json.date }}"
            },
            {
              "fieldName": "keyword",
              "fieldValue": "={{ $json.keyword }}"
            },
            {
              "fieldName": "position",
              "fieldValue": "={{ $json.position || 'Not Found' }}"
            },
            {
              "fieldName": "found",
              "fieldValue": "={{ $json.found }}"
            }
          ]
        }
      },
      "id": "save-ranking",
      "name": "Save Ranking",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "aggregate-results",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1800, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "headerAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.openaiApi.apiKey }}"
            }
          ]
        },
        "jsonParameters": true,
        "bodyParametersJson": "{\n  \"model\": \"gpt-4\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an SEO analyst. Analyze keyword ranking data and provide insights and recommendations.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze this weekly keyword ranking data and provide insights: {{ JSON.stringify($json) }}. Identify trends, improvements, and areas needing attention.\"\n    }\n  ],\n  \"max_tokens\": 800,\n  \"temperature\": 0.3\n}"
      },
      "id": "seo-analysis",
      "name": "SEO Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2100, 300]
    },
    {
      "parameters": {
        "fromEmail": "seo@yourcompany.com",
        "toEmail": "marketing@yourcompany.com",
        "subject": "Weekly SEO Ranking Report - {{ new Date().toISOString().split('T')[0] }}",
        "emailType": "html",
        "message": "<h2>Weekly SEO Ranking Report</h2>\\n\\n<h3>Summary:</h3>\\n<ul>\\n{{ $node['Aggregate Results'].json.map(item => `<li>${item.keyword}: ${item.position || 'Not Found'}</li>`).join('') }}\\n</ul>\\n\\n<h3>AI Analysis & Recommendations:</h3>\\n<div style='background:#f8f9fa;padding:15px;border-left:4px solid #007bff;'>\\n{{ $json.choices[0].message.content.replace(/\\n/g, '<br>') }}\\n</div>",
        "options": {}
      },
      "id": "email-report",
      "name": "Email Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2400, 300]
    }
  ],
  "connections": {
    "Weekly Trigger": {
      "main": [
        [
          {
            "node": "Load Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Keywords": {
      "main": [
        [
          {
            "node": "SERP Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SERP Check": {
      "main": [
        [
          {
            "node": "Extract Position",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Position": {
      "main": [
        [
          {
            "node": "Save Ranking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Ranking": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "SEO Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEO Analysis": {
      "main": [
        [
          {
            "node": "Email Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "tags": ["seo", "keyword-tracking", "rankings", "automation", "reporting"],
  "triggerCount": 0,
  "updatedAt": "2024-08-14T00:00:00.000Z",
  "versionId": "1"
}