library/verticals/marketing_agencies/extra_templates/social_media/social-media-content-generator.json
{
  "meta": {
    "templateCreatedBy": "SocialMediaPro",
    "templateDescription": "Generate social media content across platforms with AI",
    "templateId": "1003",
    "templateName": "Social Media Content Generator",
    "templateVersion": "1.0.0"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "social-content",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [300, 300],
      "webhookId": "social-content-gen"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "headerAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.openaiApi.apiKey }}"
            }
          ]
        },
        "jsonParameters": true,
        "bodyParametersJson": "{\n  \"model\": \"gpt-4\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a social media content creator. Generate engaging posts for different platforms.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Create social media content for {{ $json.platform }} about {{ $json.topic }}. Tone: {{ $json.tone }}. Include relevant hashtags and emojis. Target audience: {{ $json.audience }}\"\n    }\n  ],\n  \"max_tokens\": 500,\n  \"temperature\": 0.9\n}"
      },
      "id": "generate-content",
      "name": "Generate Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $node.Webhook.json.platform }}",
              "rightValue": "instagram",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-platform",
      "name": "Check Platform",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.unsplash.com/search/photos",
        "authentication": "headerAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Client-ID {{ $credentials.unsplashApi.accessKey }}"
            }
          ]
        },
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $node.Webhook.json.topic }}"
            },
            {
              "name": "per_page",
              "value": "5"
            }
          ]
        }
      },
      "id": "get-image",
      "name": "Get Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "platform",
              "value": "={{ $node.Webhook.json.platform }}"
            },
            {
              "name": "content",
              "value": "={{ $node['Generate Content'].json.choices[0].message.content }}"
            },
            {
              "name": "image_url",
              "value": "={{ $json.results[0]?.urls?.regular || '' }}"
            },
            {
              "name": "scheduled_time",
              "value": "={{ $node.Webhook.json.scheduled_time || new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1800, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Generate Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Content": {
      "main": [
        [
          {
            "node": "Check Platform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Platform": {
      "main": [
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["social-media", "content", "ai", "automation", "marketing"],
  "triggerCount": 0,
  "updatedAt": "2024-08-14T00:00:00.000Z",
  "versionId": "1"
}