library/verticals/marketing_agencies/extra_templates/ecommerce/abandoned-cart-recovery.json
{
  "meta": {
    "templateCreatedBy": "EcommercePro",
    "templateDescription": "Automated abandoned cart recovery with personalized emails",
    "templateId": "1008",
    "templateName": "Abandoned Cart Recovery",
    "templateVersion": "1.0.0"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cart-abandoned",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "cart-webhook",
      "name": "Cart Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "minutes"
      },
      "id": "wait-delay",
      "name": "Wait 30min",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://{{ $node['Cart Webhook'].json.shop_domain }}/admin/api/2023-10/checkouts/{{ $node['Cart Webhook'].json.checkout_id }}.json",
        "authentication": "headerAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "{{ $credentials.shopifyApi.accessToken }}"
            }
          ]
        }
      },
      "id": "check-cart-status",
      "name": "Check Cart Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.checkout?.completed_at }}",
              "rightValue": null,
              "operator": {
                "type": "object",
                "operation": "equal",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cart-still-abandoned",
      "name": "Cart Still Abandoned",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "headerAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.openaiApi.apiKey }}"
            }
          ]
        },
        "jsonParameters": true,
        "bodyParametersJson": "{\n  \"model\": \"gpt-4\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an email marketing specialist. Create personalized abandoned cart emails that encourage completion.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Create a personalized abandoned cart email for customer {{ $node['Cart Webhook'].json.customer_name }} who left items: {{ $json.checkout.line_items.map(item => item.title).join(', ') }}. Total value: ${{ $json.checkout.total_price }}. Include urgency and incentive.\"\n    }\n  ],\n  \"max_tokens\": 600,\n  \"temperature\": 0.7\n}"
      },
      "id": "personalize-email",
      "name": "Personalize Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "fromEmail": "sales@yourstore.com",
        "toEmail": "={{ $node['Cart Webhook'].json.customer_email }}",
        "subject": "Don't forget your items, {{ $node['Cart Webhook'].json.customer_name }}! 🛒",
        "emailType": "html",
        "message": "{{ $json.choices[0].message.content }}\\n\\n<a href='{{ $node['Check Cart Status'].json.checkout.web_url }}' style='background:#007bff;color:white;padding:10px 20px;text-decoration:none;border-radius:5px;'>Complete Your Purchase</a>",
        "options": {}
      },
      "id": "send-recovery-email",
      "name": "Send Recovery Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1800, 300]
    },
    {
      "parameters": {
        "amount": 24,
        "unit": "hours"
      },
      "id": "wait-followup",
      "name": "Wait 24h",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2100, 300]
    },
    {
      "parameters": {
        "fromEmail": "sales@yourstore.com",
        "toEmail": "={{ $node['Cart Webhook'].json.customer_email }}",
        "subject": "Last chance: 10% off your cart! 🎯",
        "emailType": "html",
        "message": "<h2>Special 10% Discount Just for You!</h2>\\n<p>Hi {{ $node['Cart Webhook'].json.customer_name }},</p>\\n<p>We noticed you haven't completed your purchase yet. Here's a special 10% discount code: <strong>SAVE10NOW</strong></p>\\n<p>This offer expires in 24 hours!</p>\\n<a href='{{ $node['Check Cart Status'].json.checkout.web_url }}' style='background:#28a745;color:white;padding:15px 30px;text-decoration:none;border-radius:5px;font-weight:bold;'>Claim 10% Discount</a>",
        "options": {}
      },
      "id": "discount-email",
      "name": "Discount Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2400, 300]
    }
  ],
  "connections": {
    "Cart Webhook": {
      "main": [
        [
          {
            "node": "Wait 30min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30min": {
      "main": [
        [
          {
            "node": "Check Cart Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Cart Status": {
      "main": [
        [
          {
            "node": "Cart Still Abandoned",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cart Still Abandoned": {
      "main": [
        [
          {
            "node": "Personalize Email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Personalize Email": {
      "main": [
        [
          {
            "node": "Send Recovery Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Recovery Email": {
      "main": [
        [
          {
            "node": "Wait 24h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 24h": {
      "main": [
        [
          {
            "node": "Discount Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "tags": ["ecommerce", "abandoned-cart", "email", "recovery", "automation"],
  "triggerCount": 0,
  "updatedAt": "2024-08-14T00:00:00.000Z",
  "versionId": "1"
}