library/verticals/marketing_agencies/videos/Famous_Brands_Shorts_Template.json
{
  "name": "Famous Brands Shorts Template",
  "nodes": [
    {
      "id": "00000000-0000-0000-0000-000000000001",
      "name": "Schedule Trigger",
      "type": "@n8n/n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [100, 200],
      "parameters": {
        "rule": {
          "interval": [{
            "field": "cronExpression",
            "value": "0 9 * * *"
          }]
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000002",
      "name": "Famous Brand Analysis",
      "type": "@n8n/n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_OPENAI_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4"
            },
            {
              "name": "messages",
              "value": [
                {
                  "role": "system", 
                  "content": "Analiza las estrategias de contenido de marcas famosas como Nike, Apple, Coca-Cola. Crea ideas de shorts basadas en sus técnicas."
                },
                {
                  "role": "user",
                  "content": "Genera una idea de short viral inspirada en las estrategias de {{ $json.brand || 'Nike' }}"
                }
              ]
            },
            {
              "name": "max_tokens",
              "value": 800
            }
          ]
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000003",
      "name": "Create Visual Hook",
      "type": "@n8n/n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.midjourney.com/v1/imagine",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_MIDJOURNEY_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $node['Famous Brand Analysis'].json.choices[0].message.content }} --ar 9:16 --style raw"
            },
            {
              "name": "quality",
              "value": "high"
            }
          ]
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000004",
      "name": "Generate Script",
      "type": "@n8n/n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_ANTHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "claude-3-sonnet-20240229"
            },
            {
              "name": "max_tokens",
              "value": 1000
            },
            {
              "name": "messages",
              "value": [
                {
                  "role": "user",
                  "content": "Crea un script de 60 segundos para un short de YouTube basado en: {{ $node['Famous Brand Analysis'].json.choices[0].message.content }}. Incluye hook, desarrollo y call to action."
                }
              ]
            }
          ]
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000005",
      "name": "Save to Database",
      "type": "@n8n/n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200],
      "parameters": {
        "method": "POST",
        "url": "{{ $vars.SUPABASE_URL }}/rest/v1/shorts_content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "apikey",
              "value": "{{ $vars.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "brand_inspiration",
              "value": "={{ $json.brand || 'Nike' }}"
            },
            {
              "name": "content_idea",
              "value": "={{ $node['Famous Brand Analysis'].json.choices[0].message.content }}"
            },
            {
              "name": "script",
              "value": "={{ $node['Generate Script'].json.content[0].text }}"
            },
            {
              "name": "visual_concept",
              "value": "={{ $node['Create Visual Hook'].json.image_url }}"
            },
            {
              "name": "created_at",
              "value": "={{ $now.toISO() }}"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Famous Brand Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Famous Brand Analysis": {
      "main": [
        [
          {
            "node": "Create Visual Hook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Visual Hook": {
      "main": [
        [
          {
            "node": "Save to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Script": {
      "main": [
        [
          {
            "node": "Save to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {},
  "tags": [
    {
      "id": "tag1",
      "name": "Shorts",
      "createdAt": "2024-01-01",
      "updatedAt": "2024-01-01"
    },
    {
      "id": "tag2",
      "name": "Brands",
      "createdAt": "2024-01-01", 
      "updatedAt": "2024-01-01"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "00000000-0000-0000-0000-000000000000"
}