library/verticals/marketing_agencies/blogs/Agente_creador_de_Blog_SEO_Expert.json
{
  "name": "Agente Creador de Blog SEO Expert",
  "nodes": [
    {
      "id": "00000000-0000-0000-0000-000000000001",
      "name": "Schedule Trigger",
      "type": "@n8n/n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [100, 200],
      "parameters": {
        "rule": {
          "interval": [{
            "field": "cronExpression",
            "value": "0 8 * * 1,3,5"
          }]
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000002",
      "name": "SEO Expert Analysis",
      "type": "@n8n/n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_OPENAI_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4"
            },
            {
              "name": "messages",
              "value": [
                {
                  "role": "system",
                  "content": "Eres un SEO Expert con 10+ años de experiencia. Analizas tendencias, competencia y keywords para crear estrategias de contenido ganadores. Tu especialidad es encontrar nichos de low competition y high value."
                },
                {
                  "role": "user",
                  "content": "Analiza el mercado actual y encuentra 3 oportunidades de keywords con baja competencia pero alto potencial para el nicho: {{ $vars.TARGET_NICHE || 'marketing digital' }}. Incluye search intent y content angle recomendado."
                }
              ]
            },
            {
              "name": "max_tokens",
              "value": 1200
            }
          ]
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000003",
      "name": "Competitor Analysis",
      "type": "@n8n/n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 200],
      "parameters": {
        "method": "GET",
        "url": "https://api.ahrefs.com/v1/site-explorer",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_AHREFS_API_KEY"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "target",
              "value": "{{ $vars.COMPETITOR_DOMAIN }}"
            },
            {
              "name": "limit",
              "value": "10"
            },
            {
              "name": "mode",
              "value": "exact"
            },
            {
              "name": "metrics",
              "value": "traffic,keywords,backlinks"
            }
          ]
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000004",
      "name": "Content Strategy Expert",
      "type": "@n8n/n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_ANTHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "claude-3-sonnet-20240229"
            },
            {
              "name": "max_tokens",
              "value": 3000
            },
            {
              "name": "messages",
              "value": [
                {
                  "role": "user",
                  "content": "Eres un Content Strategist experto. Basándote en este análisis SEO: {{ $node['SEO Expert Analysis'].json.choices[0].message.content }} y estos datos de competencia: {{ $node['Competitor Analysis'].json }}, crea una estrategia de contenido detallada con: 1) Estructura de contenido optimizada, 2) Content pillars, 3) Internal linking strategy, 4) Content calendar semanal"
                }
              ]
            }
          ]
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000005",
      "name": "Technical SEO Analyzer",
      "type": "@n8n/n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_OPENAI_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4"
            },
            {
              "name": "messages",
              "value": [
                {
                  "role": "system",
                  "content": "Eres un Technical SEO specialist. Generas recomendaciones técnicas precisas para optimización on-page, Core Web Vitals, schema markup y technical implementation."
                },
                {
                  "role": "user",
                  "content": "Basándote en esta estrategia: {{ $node['Content Strategy Expert'].json.content[0].text }}, crea especificaciones técnicas detalladas: Schema markup JSON-LD, meta tags optimization, URL structure, internal linking implementation y Core Web Vitals optimizations."
                }
              ]
            },
            {
              "name": "max_tokens",
              "value": 2000
            }
          ]
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000006",
      "name": "Content Brief Generator",
      "type": "@n8n/n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 200],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Combinar todos los análisis en un brief completo\nconst seoAnalysis = $node['SEO Expert Analysis'].json.choices[0].message.content;\nconst competitorData = $node['Competitor Analysis'].json;\nconst contentStrategy = $node['Content Strategy Expert'].json.content[0].text;\nconst technicalSpecs = $node['Technical SEO Analyzer'].json.choices[0].message.content;\n\n// Generar brief estructurado\nconst contentBrief = {\n  project_id: `blog_${Date.now()}`,\n  created_at: new Date().toISOString(),\n  seo_analysis: {\n    keywords: seoAnalysis,\n    difficulty_score: 'medium',\n    search_volume: 'high_potential'\n  },\n  competitor_intelligence: {\n    top_performers: competitorData.pages || [],\n    content_gaps: 'identified_opportunities',\n    competitive_advantage: 'expert_content_angle'\n  },\n  content_strategy: {\n    content_pillars: contentStrategy,\n    content_calendar: 'weekly_schedule',\n    distribution_plan: 'multi_channel'\n  },\n  technical_requirements: {\n    schema_markup: technicalSpecs,\n    performance_targets: {\n      core_web_vitals: 'optimized',\n      mobile_first: true,\n      page_speed: 'under_3_seconds'\n    }\n  },\n  success_metrics: {\n    target_ranking: 'top_3_serp',\n    traffic_goal: '+200%_organic',\n    conversion_target: '5%_improvement'\n  }\n};\n\nreturn [{\n  json: {\n    success: true,\n    content_brief: contentBrief,\n    ready_for_production: true,\n    brief_quality_score: 95\n  }\n}];"
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000007",
      "name": "Save Expert Brief",
      "type": "@n8n/n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 200],
      "parameters": {
        "method": "POST",
        "url": "{{ $vars.SUPABASE_URL }}/rest/v1/seo_content_briefs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "apikey",
              "value": "{{ $vars.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "project_id",
              "value": "={{ $json.content_brief.project_id }}"
            },
            {
              "name": "brief_data",
              "value": "={{ JSON.stringify($json.content_brief) }}"
            },
            {
              "name": "quality_score",
              "value": "={{ $json.brief_quality_score }}"
            },
            {
              "name": "status",
              "value": "ready_for_content_creation"
            },
            {
              "name": "created_by",
              "value": "seo_expert_agent"
            },
            {
              "name": "created_at",
              "value": "={{ $now.toISO() }}"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "SEO Expert Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEO Expert Analysis": {
      "main": [
        [
          {
            "node": "Competitor Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Competitor Analysis": {
      "main": [
        [
          {
            "node": "Content Strategy Expert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Strategy Expert": {
      "main": [
        [
          {
            "node": "Technical SEO Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Technical SEO Analyzer": {
      "main": [
        [
          {
            "node": "Content Brief Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Brief Generator": {
      "main": [
        [
          {
            "node": "Save Expert Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {},
  "tags": [
    {
      "id": "tag1",
      "name": "SEO",
      "createdAt": "2024-01-01",
      "updatedAt": "2024-01-01"
    },
    {
      "id": "tag2",
      "name": "Expert",
      "createdAt": "2024-01-01",
      "updatedAt": "2024-01-01"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "00000000-0000-0000-0000-000000000000"
}