library/verticals/marketing_agencies/blogs/Blog_Post.json
{
  "name": "Blog Post Generator",
  "nodes": [
    {
      "id": "00000000-0000-0000-0000-000000000001",
      "name": "Webhook Trigger",
      "type": "@n8n/n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 200],
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-blog-post",
        "options": {}
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000002",
      "name": "Keyword Research",
      "type": "@n8n/n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, 200],
      "parameters": {
        "method": "GET",
        "url": "https://api.semrush.com/v1/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SEMRUSH_API_KEY"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "phrase_kdi"
            },
            {
              "name": "key",
              "value": "YOUR_SEMRUSH_API_KEY"
            },
            {
              "name": "phrase",
              "value": "={{ $json.body.topic || 'marketing digital' }}"
            },
            {
              "name": "database",
              "value": "es"
            },
            {
              "name": "export_columns",
              "value": "Ph,Nq,Cp,Kd"
            }
          ]
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000003",
      "name": "Generate Outline",
      "type": "@n8n/n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_OPENAI_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4"
            },
            {
              "name": "messages",
              "value": [
                {
                  "role": "system",
                  "content": "Eres un experto en SEO y marketing de contenidos. Crea outlines detallados para blog posts optimizados para SEO."
                },
                {
                  "role": "user",
                  "content": "Tema principal: {{ $json.body.topic }}. Keywords encontradas: {{ $node['Keyword Research'].json.data }}. Crea un outline completo con H2, H3 y estructura SEO optimizada."
                }
              ]
            },
            {
              "name": "max_tokens",
              "value": 1500
            }
          ]
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000004",
      "name": "Generate Content",
      "type": "@n8n/n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_ANTHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "claude-3-sonnet-20240229"
            },
            {
              "name": "max_tokens",
              "value": 4000
            },
            {
              "name": "messages",
              "value": [
                {
                  "role": "user",
                  "content": "Basándote en este outline: {{ $node['Generate Outline'].json.choices[0].message.content }}, escribe un blog post completo de 2000-2500 palabras. Incluye: introducciones convincentes, contenido valuable, call to actions, y optimización SEO natural."
                }
              ]
            }
          ]
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000005",
      "name": "Generate Meta Data",
      "type": "@n8n/n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_OPENAI_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4"
            },
            {
              "name": "messages",
              "value": [
                {
                  "role": "system",
                  "content": "Genera metadata SEO optimizada: title tag (max 60 chars), meta description (max 160 chars), slug URL y tags relevantes."
                },
                {
                  "role": "user",
                  "content": "Para este blog post: {{ $node['Generate Content'].json.content[0].text.substring(0, 500) }}..."
                }
              ]
            },
            {
              "name": "max_tokens",
              "value": 300
            }
          ]
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000006",
      "name": "Generate Featured Image",
      "type": "@n8n/n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_OPENAI_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "prompt",
              "value": "Professional blog featured image for: {{ $json.body.topic }}. Modern, clean design, high quality, 16:9 aspect ratio"
            },
            {
              "name": "n",
              "value": 1
            },
            {
              "name": "size",
              "value": "1792x1024"
            },
            {
              "name": "quality",
              "value": "high"
            },
            {
              "name": "output_format",
              "value": "png"
            }
          ]
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000007",
      "name": "Save to CMS",
      "type": "@n8n/n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 200],
      "parameters": {
        "method": "POST",
        "url": "{{ $vars.WORDPRESS_URL }}/wp-json/wp/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_WORDPRESS_JWT_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ JSON.parse($node['Generate Meta Data'].json.choices[0].message.content).title }}"
            },
            {
              "name": "content",
              "value": "={{ $node['Generate Content'].json.content[0].text }}"
            },
            {
              "name": "excerpt",
              "value": "={{ JSON.parse($node['Generate Meta Data'].json.choices[0].message.content).meta_description }}"
            },
            {
              "name": "status",
              "value": "draft"
            },
            {
              "name": "featured_media",
              "value": "={{ $node['Generate Featured Image'].json.data[0].url }}"
            },
            {
              "name": "meta",
              "value": {
                "yoast_wpseo_title": "={{ JSON.parse($node['Generate Meta Data'].json.choices[0].message.content).title }}",
                "yoast_wpseo_metadesc": "={{ JSON.parse($node['Generate Meta Data'].json.choices[0].message.content).meta_description }}"
              }
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Keyword Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Research": {
      "main": [
        [
          {
            "node": "Generate Outline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Outline": {
      "main": [
        [
          {
            "node": "Generate Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Content": {
      "main": [
        [
          {
            "node": "Generate Meta Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Featured Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Meta Data": {
      "main": [
        [
          {
            "node": "Save to CMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Featured Image": {
      "main": [
        [
          {
            "node": "Save to CMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {},
  "tags": [
    {
      "id": "tag1",
      "name": "Blog",
      "createdAt": "2024-01-01",
      "updatedAt": "2024-01-01"
    },
    {
      "id": "tag2",
      "name": "SEO",
      "createdAt": "2024-01-01",
      "updatedAt": "2024-01-01"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "00000000-0000-0000-0000-000000000000"
}