library/verticals/marketing_agencies/extra_templates/blogs/automated-blog-writing.json
{
  "meta": {
    "templateCreatedBy": "AutomationMarket",
    "templateDescription": "Automated blog writing with SEO optimization using AI",
    "templateId": "1001",
    "templateName": "Automated Blog Writing",
    "templateVersion": "1.0.0"
  },
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "headerAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.openaiApi.apiKey }}"
            }
          ]
        },
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\n  \"model\": \"gpt-4\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an SEO expert and blog writer. Create engaging, SEO-optimized blog posts.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Write a 1500-word blog post about {{ $node.Webhook.json.topic }}. Include SEO keywords: {{ $node.Webhook.json.keywords }}. Target audience: {{ $node.Webhook.json.audience }}\"\n    }\n  ],\n  \"max_tokens\": 2000,\n  \"temperature\": 0.7\n}"
      },
      "id": "openai-writer",
      "name": "OpenAI Writer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [800, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "blog-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [300, 300],
      "webhookId": "blog-auto-gen"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "title",
              "value": "={{ $json.choices[0].message.content.split('\\n')[0] }}"
            },
            {
              "name": "content",
              "value": "={{ $json.choices[0].message.content }}"
            },
            {
              "name": "status",
              "value": "draft"
            }
          ]
        },
        "options": {}
      },
      "id": "format-output",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1600, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Writer": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["blog", "content", "ai", "seo", "marketing"],
  "triggerCount": 0,
  "updatedAt": "2024-08-14T00:00:00.000Z",
  "versionId": "1"
}