library/verticals/marketing_agencies/linkedin/LinkedIn_Post.json
{
  "name": "LinkedIn Post Generator",
  "nodes": [
    {
      "id": "00000000-0000-0000-0000-000000000001",
      "name": "Schedule Trigger",
      "type": "@n8n/n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [100, 200],
      "parameters": {
        "rule": {
          "interval": [{
            "field": "cronExpression",
            "value": "0 9,14,18 * * *"
          }]
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000002",
      "name": "Content Strategy",
      "type": "@n8n/n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_OPENAI_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4"
            },
            {
              "name": "messages",
              "value": [
                {
                  "role": "system",
                  "content": "Eres un experto en LinkedIn marketing. Creas contenido profesional que genera engagement y builds personal brand. Conoces las mejores prácticas para algoritmo de LinkedIn."
                },
                {
                  "role": "user",
                  "content": "Tema: {{ $vars.LINKEDIN_TOPIC || 'tendencias en marketing digital' }}. Crea un post de LinkedIn engaging que genere conversación y engagement. Incluye hook, desarrollo, call to action y hashtags relevantes."
                }
              ]
            },
            {
              "name": "max_tokens",
              "value": 800
            }
          ]
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000003",
      "name": "Trend Analysis",
      "type": "@n8n/n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 200],
      "parameters": {
        "method": "GET",
        "url": "https://api.linkedin.com/v2/networkUpdates",
        "authentication": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_LINKEDIN_ACCESS_TOKEN"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "count",
              "value": "50"
            },
            {
              "name": "start",
              "value": "0"
            }
          ]
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000004",
      "name": "Optimize Content",
      "type": "@n8n/n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_ANTHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "claude-3-sonnet-20240229"
            },
            {
              "name": "max_tokens",
              "value": 1000
            },
            {
              "name": "messages",
              "value": [
                {
                  "role": "user",
                  "content": "Post original: {{ $node['Content Strategy'].json.choices[0].message.content }}. Tendencias detectadas: {{ $node['Trend Analysis'].json.elements }}. Optimiza el post para maximizar engagement en LinkedIn. Ajusta tono, estructura y añade elementos virales."
                }
              ]
            }
          ]
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000005",
      "name": "Generate Visual",
      "type": "@n8n/n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.canva.com/v1/designs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_CANVA_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "design_type",
              "value": "linkedin-post"
            },
            {
              "name": "title",
              "value": "LinkedIn Post Visual"
            },
            {
              "name": "content",
              "value": {
                "text": "{{ $node['Optimize Content'].json.content[0].text.substring(0, 200) }}",
                "style": "professional",
                "brand_colors": ["#0077B5", "#FFFFFF", "#000000"]
              }
            }
          ]
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000006",
      "name": "Schedule Post",
      "type": "@n8n/n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_LINKEDIN_ACCESS_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "author",
              "value": "urn:li:person:{{ $vars.LINKEDIN_PERSON_URN }}"
            },
            {
              "name": "lifecycleState",
              "value": "PUBLISHED"
            },
            {
              "name": "specificContent",
              "value": {
                "com.linkedin.ugc.ShareContent": {
                  "shareCommentary": {
                    "text": "={{ $node['Optimize Content'].json.content[0].text }}"
                  },
                  "shareMediaCategory": "IMAGE",
                  "media": [
                    {
                      "status": "READY",
                      "media": "{{ $node['Generate Visual'].json.design_url }}"
                    }
                  ]
                }
              }
            },
            {
              "name": "visibility",
              "value": {
                "com.linkedin.ugc.MemberNetworkVisibility": "PUBLIC"
              }
            }
          ]
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000007",
      "name": "Analytics Tracking",
      "type": "@n8n/n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 200],
      "parameters": {
        "method": "POST",
        "url": "{{ $vars.SUPABASE_URL }}/rest/v1/linkedin_posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "apikey",
              "value": "{{ $vars.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "post_id",
              "value": "={{ $node['Schedule Post'].json.id }}"
            },
            {
              "name": "content",
              "value": "={{ $node['Optimize Content'].json.content[0].text }}"
            },
            {
              "name": "scheduled_time",
              "value": "={{ $now.toISO() }}"
            },
            {
              "name": "topic",
              "value": "={{ $vars.LINKEDIN_TOPIC }}"
            },
            {
              "name": "engagement_predicted",
              "value": "high"
            },
            {
              "name": "created_at",
              "value": "={{ $now.toISO() }}"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Content Strategy",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trend Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Strategy": {
      "main": [
        [
          {
            "node": "Optimize Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trend Analysis": {
      "main": [
        [
          {
            "node": "Optimize Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Optimize Content": {
      "main": [
        [
          {
            "node": "Generate Visual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Visual": {
      "main": [
        [
          {
            "node": "Schedule Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Post": {
      "main": [
        [
          {
            "node": "Analytics Tracking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {},
  "tags": [
    {
      "id": "tag1",
      "name": "LinkedIn",
      "createdAt": "2024-01-01",
      "updatedAt": "2024-01-01"
    },
    {
      "id": "tag2",
      "name": "Social",
      "createdAt": "2024-01-01",
      "updatedAt": "2024-01-01"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "00000000-0000-0000-0000-000000000000"
}